html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
html 
  head 
     script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
  title www.Microsoft.com
  style
      include ../static/style.css
body
 nav#navbar 
 ul 
     
    li #[a(href="/") Home] 
    li #[a(href="/profile") Profile] 
    li #[a(href="/about_us") About us] 
    li #[a(href="/contact_us") Contact us] 
    img(src="../static/logo1.png") 
    input(type="search" placeholder="search here")

div 
 p.tis The Industry Standard
 p.text  Microsoft is not about its tools, nor the operating system 
 p.platform Microsoft is a platform.

section.features 
  div
    h3.uf &#128187 User Friendly
    p.para You can take any Windows and install pentesting tools on it, but you have to set the tools up manually and configure them. Windows is optimized to reduce the amount of work, so a professional can just sit down and go.
  div
    h3.we &#9678 Windows Everywhere
    p.para A version of Windows is always close to you, no matter where you need it. Mobile devices, Containers, ARM, Cloud providers, Windows Subsystem for Linux, Pre-built Virtual Machine, Installer Images, and others are all available.
  div
    h3.customization &#x270E Customization
    p.para With the use of metapackages, optimized for the specific tasks of a security professional, and a highly accessible and well documented ISO customization process, it's always easy to generate an optimized version of Windows for your specific needs.

section.features2
  div
    h3.uf &#9729 Community
    p.para Windows, with its BackTrack lineage, has a vibrant and active community. There are active Windows forums, IRC Channel, Windows Tools listings, an open bug tracker system, and even community provided tool suggestions.
  div
    h3.we &#128214 Documentation
    p.para Whether you are a seasoned veteran or a novice, our documentation will have all the information you will need to know about Windows. Multiple tips and “recipes” are available, to help ease doubts or address any issues. All documentation is open, so you can easily contribute.

div
  p.above_download_section Get Your Windows Today

section.download_section 
  div.card
    p.card_para ISO 
    img.iso_img(src="../static/iso.png")
    hr
    p.iso_para Windows 11 Installation file ISO x64.
    p.iso_para For 64bit OS.
    
    div.dwnldbtn
      p.dwarr &#8595
      p.btn Download


  div.card
    p.card_para RAR 
    img.rar_img(src="../static/rar.jpg")
    hr
    p.iso_para Windows 11 Installation file RAR x64.
    p.iso_para For 64bit OS.


    div.dwnldbtn
      p.dwarr &#8595
      p.btn Download

section.windows_key

  div.product_box 
    img.windows10(src="../static/windows10.png")
  div.product_description 
    p(style="font-size:1.6rem;") Windows 10 Professional 64 bit - Product Key
    p(style="color:#8b6217;") Buy Windows 10 Professional at the best price and activate it by downloading the Official Microsoft ISO file. Install the latest version of Windows 11 with a 100% genuine license
    div(style="display:flex;")
     p.cut_price &#8377 6999
     p.final_price &#8377 4599
     p.discount 20% OFF
     button.buy BUY 
     button.cart &#128722
section.windows_key

  div.product_box 
    img.windows10(src="../static/windows11.png")
  div.product_description 
    p(style="font-size:1.6rem;") Windows 11 Professional 64 bit - Product Key
    p(style="color:#8b6217;") Buy Windows 11 Professional at the best price and activate it by downloading the Official Microsoft ISO file. Install the latest version of Windows 11 with a 100% genuine license
    div(style="display:flex;")
     p.cut_price &#8377 8999
     p.final_price &#8377 5999
     p.discount 40% OFF
     button.buy BUY 
     button.cart &#128722
section.windows_key

  div.product_box 
    img.windows10(src="../static/windows7ultimate.png")
  div.product_description 
    p(style="font-size:1.6rem;") Windows 7 Ultimate-Edition 64 bit - Product Key
    p(style="color:#8b6217;") Buy Windows 7 Ultimate at the best price and activate it by downloading the Official Microsoft ISO file. Install the latest version of Windows 7 Ultimate with a 100% genuine license
    div(style="display:flex;")
     p.cut_price &#8377 8999
     p.final_price &#8377 5999
     p.discount 40% OFF
     button.buy BUY 
     button.cart &#128722
section.windows_key

  div.product_box 
    img.windows10(src="../static/windows7.png")
  div.product_description 
    p(style="font-size:1.6rem;") Windows 7 Professional 64 bit - Product Key
    p(style="color:#8b6217;") Buy Windows 7 Professional at the best price and activate it by downloading the Official Microsoft ISO file. Install the latest version of Windows 7 with a 100% genuine license.
    div(style="display:flex;")
     p.cut_price &#8377 8999
     p.final_price &#8377 5999
     p.discount 40% OFF
     button.buy BUY 
     button.cart &#128722

section#moto(style="margin-top:25px;")
  div   
    //- p.moto_para Our Goal
    p.moto_para2 "Innovate. Create. Empower."
    p.moto_para3 "Innovate" represents your commitment to pushing the boundaries of what is possible in the world of software development. It reflects your drive to stay at the forefront of technological advancements, constantly exploring new ideas, and seeking innovative solutions to meet the evolving needs of your users.
footer 
  div.thank Thank You!!! Visit Again.
  section
    div.links#links  
      h2 Links 
      p Home
      p Download
      p Blog
      p Releases
      p OS Documentation
      h2 Community
      p Discord
      p Support forum
    div.links#platform   
      h2 Platform 
      p Personal Computer
      p Linux OS
      p Laptop
      p Ubutu OS
      p Smartphone
      p Amazon AWS
      p Microsoft Azure
      p Google Cloud
      p Linode
      h2 Follow us
      ion-icon.facebook(name="logo-facebook")      
      ion-icon( class="whatsapp" name="logo-whatsapp")
      ion-icon(class="instagram" name="logo-instagram")
      ion-icon(class="twitter" name="logo-twitter")
      ion-icon(class="linkedin" name="logo-linkedin")
 
    div.links#development   
      h2 Development 
      p BUG Tracker
      p Continuous Development
      p Active Community
      p Latest Releases
      p Daily Bug Fixes
      h2 Policies
      p Cookie Policy
      p Privacy Policy
      p Trademark Policy

  div.endimg 
    img.endlogo(src="../static/windows.png")
    p.end-para All Rights Reseverd&copy 2023 Microsoft.
  
      

  



  


    