@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js');

/* RESETTING */
* {
    margin: 0;
    padding: 0;
}




/* NAVBAR STYLING */
ul {
    background-color: rgb(127, 165, 214);
    display: flex;
    border: 1px solid white;
    border-radius: 14px;
}

li {
    padding: 16px 34px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* LOGO STYLING */

ul img {
    height: 27px;
    width: 27px;
    margin-top: 10px;
    padding-left: 131px;



}

span {
    color: white;
}

a:hover {

    color: black;
    text-decoration: underline;
}

/* SEARCHBAR */
ul input {
    width: 240px;
    height: 19px;
    margin-top: 15px;
    margin-left: 429px;
    border-radius: 6px;
    outline: none;
    border: 1px solid white;
}

.tis {
    text-align: center;
    margin-top: 21px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(124, 117, 192);
    text-decoration: underline;
}

.text {
    text-align: center;
    margin-top: 21px;
    font-size: 2rem;
    font-family: 'Belanosima', sans-serif;

    color: black;


}

.platform {
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}

.features {

    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.features div {
    /* border: 2px solid black; */
    width: 298px;
    height: 244px;
    border-radius: 10px;
    margin: 10px 34px;
    box-sizing: border-box;


}

.uf {
    color: blue;

    margin: 7px 73px;
}

.customization {
    color: blue;
    margin: 7px 76px;

}

.we {
    color: blue;
    margin: 7px 49px;
}

.para {
    letter-spacing: 1px;
    text-align: center;
}

.features2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: -45px;
}

.features2 div {
    width: 298px;
    height: 244px;
    border-radius: 10px;
    margin: 10px -137px;
    box-sizing: border-box;
}

.above_download_section {
    text-align: center;
    font-size: 2.9rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(43, 197, 43);

    cursor: pointer;
    text-decoration: underline;
}

.above_download_section:hover {

    letter-spacing: 1.23px;

}

.download_section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.card {
    border: 1px solid black;
    width: 298px;
    background-color: rgb(243, 239, 234);
    height: 326px;
    border-radius: 10px;
    margin: 10px 34px;
    box-sizing: border-box;
}

.card_para {
    /* color: blue; */
    font-size: 1.6rem;
    margin: 7px 122px;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;

}

.iso_img {
    height: 100px;
    width: 100px;
    margin: 18px 95px;
    cursor: pointer;
}

.iso_img:hover {
    transform: scale(1.1);

}

.iso_para {
    font-size: 1.15rem;
    text-align: center;


}

.rar_img {
    height: 100px;
    width: 100px;
    margin: 18px 95px;
    cursor: pointer;

}

.rar_img:hover {
    transform: scale(1.1);

}

.dwarr,
.btn {
    text-align: center;
    height: 20px;
}

.dwarr {
    transform: scale(1.4);
}

.dwnldbtn {
    border: 2px solid rgb(65, 195, 238);
    width: 181px;
    margin: 21px 54px;
    height: 44px;
    border-radius: 13px;
    background-color: rgb(65, 195, 238);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.dwnldbtn:hover {
    background-color: black;
    color: white;
    border-color: black;

}

.moto_para {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(66, 161, 250);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.moto_para2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: aqua;
    border-radius: 34px 127px;
    width: 379px;
    margin-left: 18em;
    height: 36px;
}

.moto_para3 {
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.12rem;
    text-decoration: underline;

}

.windows10 {
    height: 209px;
    width: 168px;
    margin-left: 34px;
    cursor: pointer;
}
.windows10:hover{
    transform: scale(1.1);
}


.windows_key {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    /* border: 2px solid black; */
    background-color: rgb(236, 224, 206);
}

.product_description {
    width: 691px;
}

.cut_price {
    text-decoration: line-through;
    margin: 40px 20px;
    font-size: 0.8rem;
}

.final_price {
    font-size: 1.4rem;
    margin: 28px -22px;
}

.discount {
    margin: 44px 53px;
    font-weight: bolder;
    color: red;
    font-size: 1.5rem;
}
.buy{
    margin: 46px -36px;
    background-color: red;
    color: white;
    width: 80px;
    height: 43px;
    text-align: center;
    border-radius: 33px;
    outline: none;
    border-color: white;
    cursor: pointer;
}
.buy:hover{
    color: black;
    background-color: white;
}
.cart{
    
        margin: 46px 48px;
        background-color: #09a109;
        color: white;
        width: 160px;
        height: 43px;
        text-align: center;
        border-radius: 33px;
        outline: none;
        border-color: white;
        cursor: pointer;
}
.cart:hover{
    color: black;
    background-color: white;
}
footer section{
    display: flex;
    margin-top: 150px;
    background-color: black;
    height: 45em;
    justify-content: space-evenly;
}
.links{
    display: grid;
    grid-template-rows:repeat(5, 35px) ;
    color: white;
    margin-top: 76px;
    height: 20em;
    
    
}
.thank{
    text-align: center;
    transform: translateY(6em);
    color: white;
    font-size: 2rem;
    /* font-weight: bold; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
.links h2{
    text-decoration: underline;
}
#platform{
    grid-template-rows:35px 35px 35px 35px 35px 55px 35px 35px 35px 35px 45px 35px 35px 35px 35px 35px;
    
}
.links p:hover{
    color: blue;
    cursor: pointer;
}
ion-icon{
    transform: scale(1.7);
    margin-right: -10px;
    cursor: pointer;
}
ion-icon:hover{
    color: blue;
}
#development{
    grid-template-rows:35px 35px 35px 35px 35px 35px 35px 35px 35px 35px;
}
#links{
    grid-template-rows:35px 35px 35px 35px 35px 50px 35px 35px;
}
.endlogo{

    filter: invert(1);
    text-align: center;
    height: 20em;
    width: 20em;
    padding-right: 115px;
    
   
}

.endimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    align-items: center;
}
.end-para{
    color: white;
    text-align: center;
    padding-right: 155px;
    padding-top: 16px;
    text-decoration: underline;
}